**
!src/
!src/**

**/bin/
**/obj/
**/node_modules/
**/.vite/
src/Carlens.Web/wwwroot/

**/.env
**/.env.*
**/secrets.json
**/appsettings.Local.json
**/appsettings.*.Local.json
**/*.pfx
**/*.p12
**/*.pem
